<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
{% include 'chieti/mainHead.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">

$(function() {
    $( "#tags" ).autocomplete({
      source:"/chieti/complete/",
      minLength:2,
      select: function( event, data ) {
		   $("#tipoProd").html("Cliente: "+data.item.name+"<br/>Id: "+data.item.id);
		   //INSERTA UNO NUEVO CADA VEZ con el ID

		    $("#prodPromo").append("<li name='items' id="+data.item.id+">"+data.item.name+", cant:<input id="+data.item.id+" name='itemPromo' class='quant itemPromo' >"+data.item.um);
		   
		    $("#prodPromo").append("<input type='button' class='delete' value='Eliminar'>"); //AGREGAR EL BOTON PARA ELIMINAR
		    $("#prodPromo").append("</li>");
		   
		    setDelete();
	}
    });
    
    $( "#category" ).autocomplete({
        source:"/chieti/compCategory/",
        minLength:2,
        select: function( event, data ) {
			   $("#salida").html("Cliente: "+data.item.name+"<br/>Id: "+data.item.id);
			   $("#salida").attr('value', data.item.id);
		}
      });
    
    $("#siPromo").click(function() {
		if ($('#siPromo').prop('checked')) 
			{$('#subProd').css("display", "inline")}
		
	});	
    
  });
 
$(document).ready(function() {	
	$('.ready').click(function(){
	
		itemsPromo=	$('.itemPromo')
		arrayItems=[];
		$(itemsPromo).each(function(inde,inputCurr){
			
			id=($(inputCurr).attr('id'));
			quant=($(inputCurr).val());
			j={'id':id,'quant':quant}
			arrayItems.push(j);
			
		});
		items={'itemsPromo':arrayItems}
		j=JSON.stringify(items);
		
	  	$('#json').val(j);
		
	});
});
function setDelete(){
	$('.delete').click(function(){
		$(this).prev().remove();
		$(this).remove();
	});
}

</script>
</head>
<body>

	<form action="/chieti/addProduct2/" method="post" enctype="multipart/form-data"> 
	{% csrf_token %}
			Ingrese el nombre del producto <input type="text" name="name"><div></div>
			Ingrese el precio del producto <input type="text" name="sellPrice"><div></div>
			Ingrese el precio de compra <input type="text" name="buyPrice"><div></div>
			Ingrese la imagen<input type="file" name="image" />
			<br/>
	        Seleccion Unidad de Medida: 
	        <input type="radio" name="mu" value="Kg" checked="checked">Kg
	        <input type="radio" name="mu" value="Un">Unidad
	        <input type="radio" name="mu" value="Un.">Unidad Modificable
	        <br/>
	        Es una promocion: 
	        <input id="siPromo" type="radio" name="promo" value="true">Si
	        <input  type="radio" name="promo" value="false" checked="checked">No
	        <br/>
	        <label for="category">Tipo de producto: </label>
		    	<input id="category" required="required" name='category'>
			
			<br/>
			<div id="subProd" style="display:none" class="ui-widget">
			  	<label for="tags">Subproductos: </label>
		    	<input id="tags">
		    </div>
		    
		   <input id="tipoProd" name="tipoProd" style="display:none" value="0"/>
		   
		   <ul id="prodPromo" class='itemsContainer'></ul>
			<input name='jsonItemPromo' id='json' type="hidden" >		   
		   <input type="submit" class='ready'/>   

	</form>  
	
</body>
</html>