<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
  
<title>Insert title here</title>
<link href="{% include 'chieti/1.html' %}">
<script type="text/javascript">
$(document).ready(function(){
	alert("pep")
});

</script>
</head>
<body>

	<form action="/chieti/hom/ad/" method="post">
		Ingrese el nombre del producto <input type="text" name="name"><div></div>
		Ingrese el precio del producto <input type="text" name="sellPrice"><div></div>
		Ingrese el precio de compra <input type="text" name="buyPrice"><div></div>
		 
		<input type="submit">
	</form>
</body>
</html>