<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
  
<title>Insert title here</title>
<link href="{% include 'chieti/1.html' %}">
<script type="text/javascript">
$(document).ready(function(){
	
});

</script>
</head>
<body>

	<form action="/chieti/addProduct2/" method="post">
		Ingrese el nombre del producto <input type="text" name="name"><div></div>
		Ingrese el precio del producto <input type="text" name="sellPrice"><div></div>
		Ingrese el precio de compra <input type="text" name="buyPrice"><div></div>
        Seleccion Unidad de Medida: 
        <input type="radio" name="mu" value="Kg">Kg
        <input type="radio" name="mu" value="Unidad">Unidad
		<input type="submit"/>
	</form>
</body>
</html>