<!DOCTYPE html>
<html>
<head>

<title>Insert title here</title>
</head>
<body>
<div>
	<a href="/chieti/addProduct" class="button">Agregar producto</a>
	<br>
	<a href="/chieti/changeProduct" class="button">Cambiar producto</a>
	<br>
	<a href="/chieti/changeUser" class="button">Cambiar de usuario</a>
	<br>
	<a href="/chieti/printOrders" class="button">Mostrar ordenes</a>
	<br>
	<a href="/chieti/singUpFake" class="button">Darse de alta fake</a>
	<br>
	<a href="/chieti/summaryBuy" class="button">Ver cosas para comprar</a>
	<br>
	<a href="/chieti/printPrice" class="button">Ver Precio de productos</a>
	<br>
	<!-- 
	<a href="/chieti/changeStock" class="button">Cambiar Stock</a>
	<br> -->
	<a href="/chieti/changePromo" class="button">Cambiar Promo</a>
	<br>
	<a href="/chieti/listOfEmails" class="button">Ver lista de Emails</a>
	<br>
	<a href="#" class="button" onclick="confirmBox()">Entrega Finalizada</a>
	<br>

</div>

</body>

<script type="text/javascript">
	function confirmBox() {
	    if (confirm("Seguro que Finalizo?") == true) {
	        window.location="/chieti/markDelivered";
	    }
	}	
</script>

</html>