<!DOCTYPE html>
<html>
<head>

<title>Insert title here</title>
</head>
<body>
<div>
	<a href="/chieti/addProduct">Agregar producto</a>
	<br>
	<a href="/chieti/changeProduct">Cambiar producto</a>
	<br>
	<a href="/chieti/changeUser">Cambiar de usuario</a>
	<br>
	<a href="/chieti/printOrders">Mostrar ordenes</a>
	<br>
	<a href="/chieti/singUpFake">Darse de alta fake</a>
	<br>
	<a href="/chieti/summaryBuy">Ver cosas para comprar</a>
	<br>
	<a href="/chieti/printPrice">Ver Precio de productos</a>
	<br>

</div>

</body>
</html>