<!doctype html>
<html lang="en">
<head>

  <title>Autocomplete - Default functionality</title>
  
  <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   -->
   {% load staticfiles %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="{% static 'chieti/js/jquery.js' %}"></script>
  <script src="{% static 'chieti/js/jquery-ui-1.10.4.min.js' %}"></script>  
  <script type="text/javascript">
  
  $(function() {
		
		$( "#products" ).autocomplete(
		{
			 source:"/chieti/complete/"
			 //source:data //-- ANDA
		})
	});
  </script>
  
  
</head>
<body>
	<div class="ui-widget" align="center">
	<br/><br/><br/>
  		<label for="products">Producto: </label>
  		<input id="products" />
	
	<div id="salida"></div>
	<div class="btn" id="btnAgregaCliente">Agregar Cliente</div>
	<div id="form" style="display:none">
		<iframe id="agregaCliente" width="100%" height="100%" seamless="seamless"></iframe>
	</div>
	</div>
	</body>
	
</body>
</html>
