<!DOCTYPE html>
<html>
<head>

<title>Cambiar Orden</title>
{% include 'chieti/mainHead.html' %}
{% load staticfiles %}
  
</head>
<body>
<b id="recordatorio" style="align='left'" class="alertMnj green2">
	Recuerde que su compra sera entregada
	el lunes a la direccion registrada.
</b>

<div align="center">
<label class="textTer">Mi Compra</label> 

<div style="display:none;" id="cartel" class="alertMnj confirm"  align="center">
<b class="textMediano">Gracias por su compra!!</b>
<br/>
<label>Puede seguir comprando hasta el domingo</label>	
</div>
<br>

<a type="button" class="btn btn-warning botonMenu2 comprar2 fuente2"  href="/chieti/product">Seguir comprando!  ></a>
<a id="confirm" type="button" class="btn btn-warning botonMenu2 comprar2 fuente2">Confirmar Compra</a>
<!--<input type="submit" class="change" value="Cambiar"></input> -->
<br>

<form action="/chieti/changeOrder2/" method="post">
<table>
    {% for item in todos %} <!-- OJO is a vector of jsons -->
     <tr class="table">
		  <td><img alt="" src="">
		  	  <input name="itemId" hidden="hidden" value="{{ item.id }}" class='idItem'/>
		  	  <input name="productId" hidden="hidden" value="{{ item.productFK.id }}" class='idProd'/>
		  </td>
		  <td><label title='name' class="product" >{{ item.productFK.name }}</label></td>
		  <td><label for='quantity'>Cant:</label></td>
		  <td><input name='quantity' type="number" class="quantity" value="{{item.quantity}}" min="0" step="0.5"></input>
		  	  <label id="um" >{{ item.productFK.measureUnit }}</label>
		  </td>
		  <td><label>Precio:</label></td>
		  <td><label name='price' class="price" title="{{item.productFK.salePrice}}">{{item.productFK.salePrice}}</label></td>
		  <td><label class="remove btn btn-default">Eliminar</label></td>
	 </tr>                        
	{% endfor %}
</table>
		<label>Total: $ </label>
		<label class="textTer" title='total'></label>
	<br/>
	
	


</form>
<div style="display:none">
	<form>
	<input type="submit" class="confirm" value="Confirmar Compra"></input>
	</form>
</div>

</div>

</body>

<footer>
	{% include 'chieti/mainFoot.html' %}
	 <link rel="stylesheet" type="text/css" href="{% static 'chieti/css/bootstrap.min.css' %}" />
	<script type="text/javascript">
		$(document).ready(function() { 			
			$('#confirm').click(function(){
				$.ajax({
	                url: '/chieti/confirmOrder/',
	                type: 'get', 
	                data: {
	                    "confirm":"true"          
	                  },
					success: function(data) {
						$('#cartel').css("display","")
					}
	            });
			});
			
			$('#cartel').click(function(){
				$(this).css("display","none")	
			});
			
		  	//console.log( "ready prod!" ) 		
			$('.quantity').change(function(){
				//recalc the price when change quantity
				if(checkQuantOk($(this))){
					var ant=$(this).parents('.table').find('.price').attr("title");
					var cant=$(this).val();            
					var dsp=(ant*cant).toFixed(2);
					$(this).parents('.table').find('.price').html(dsp);
					calTotalPrice();
					itemId=$(this).parents('.table').find('.idItem').val();
					$.ajax({
		                url: '/chieti/changeOrder3/',
		                type: 'get', 
		                data: {
		                    "itemId":itemId,
		                    "quantity":cant,

		                },
		                success: function(data) {
						}
		            });
				}
				else{
			    	alert("Cantidad incorrecta");
			    	$(this).focus();
			    }
			});
			
			$('label[name=price]').each(function(){
				//calc the subTotal price
				pr=$(this).attr("title");
				console.log('pr',pr);
		  		qu=$(this).parent().parent().find("input[name=quantity]").val();
		  		multip=(pr*qu).toFixed(2);
		  		//console.log('mult',multip.toFixed(2));
		  		$(this).html(multip);
			});

			$("label.remove").click(function(){
				//remove the item from de DB and DOM
				item=$(this).parent().parent().find("input[name=itemId]").val()
				console.log("item",item)
				$.ajax({
	                url: '/chieti/removeItem/',
	                type: 'get', 
	                data: {
	                    "itemId":item,
	                },
	                success: function(data) {
	                    console.log("todo ok! AJAX")
	                    console.log(data)
	                }
	            });
				$(this).parent().parent().remove()
				//console.log("paren tr",$(this).parent().parent());
				calTotalPrice();
			})
			calTotalPrice();  	
			
			$("#recordatorio").click(function(){
				$(this).remove();
			});
			
		});

		function calTotalPrice(){
			var sumTotal=0;
			$('.price').each(function(){
				//calc the total price
				sumTotal=sumTotal+parseFloat($(this).text());	
			})
			$('label[title=total]').html(sumTotal.toFixed(2));
		}

		function checkQuantOk(quant){
			num=$(quant).val()
			um=$(quant).siblings("#um").html();
			console.log("um----:",um);
			if(!$.isNumeric(num)) {return false;}
		    if(num < 0.1) return false;
		    if (um=="Unidad"){
		    	if(!(num % 1 === 0))
		    		{return false}
		    	}
		    return true;
		}
	</script>	
</footer>
</html>