<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cambiar Orden</title>
{% include 'chieti/mainHead.html' %}
    
<script type="text/javascript">
	

	$(document).ready(function() { 
	  	console.log( "ready prod!" ) 		
		$('.quantity').change(function(){
			//recalc the price when change quantity
			
            var ant=$(this).parents('.table').find('.price').attr("title");
			var cant=$(this).val();            
			var dsp=ant*cant;
			console.log ('prec ant:', ant,' cant: ',cant,' dsp ',dsp 	);
			$(this).parents('.table').find('.price').html(dsp);
			calTotalPrice();
            
		});
		$('label[name=price]').each(function(){
			//calc the subTotal price
			pr=$(this).attr("title")
	  		qu=$(this).parent().parent().find("input[name=quantity]").val()
	  		$(this).html(pr*qu)
		});
		$("label.remove").click(function(){
			//remove the item from de DB and DOM
			item=$(this).parent().parent().find("input[name=itemId]").val()
			console.log("item",item)
			$.ajax({
                url: '/chieti/removeItem/',
                type: 'post', 
                data: {
                    "itemId":item,
                },
                success: function(data) {
                    console.log("todo ok! AJAX")
                    console.log(data)
                }
            });
			$(this).parent().parent().remove()
			//console.log("paren tr",$(this).parent().parent());
			calTotalPrice();
		})
		
		
		calTotalPrice()  	
	});
	function calTotalPrice(){
		var sumTotal=0
		$('label[name=price]').each(function(){
			//calc the total price
			sumTotal=sumTotal+parseInt($(this).text())
			console.log(sumTotal)	
		})
		$('label[title=total]').html(sumTotal)
	}

</script>
</head>
<body>
<div align="center">
<form action="/chieti/changeOrder2/" method="post">
<table>
    {% for item in todos %} <!-- OJO is a vector of jsons -->
     <tr class="table">
		  <td><img alt="" src="">
		  	  <input name="itemId" hidden="hidden" value="{{ item.id }}"/>
		  	  <input name="productId" hidden="hidden" value="{{ item.productFK.id }}"/>
		  </td>
		  <td><label title='name' class="product" >{{ item.productFK.name }}</label></td>
		  <td><label for='quantity'>Cant:</label></td>
		  <td><input name='quantity' type="number" class="quantity" value="{{item.quantity}}" min="0" step="0.5"></input>
		  	  <label >{{ item.productFK.measureUnit }}</label>
		  </td>
		  <td><label>Precio:</label></td>
		  <td><label name='price' class="price" title="{{item.productFK.salePrice}}">{{item.productFK.salePrice}}</label></td>
		  <td><label class="remove btn btn-default">Eliminar</label></td>
	 </tr>                        
	{% endfor %}
</table>
		<label>Total: $ </label>
		<label title='total'></label>
	<br/><br>
	<input type="submit" class="change" value="Cambiar"></input>
</form>
</div>

</body>
</html>