<!DOCTYPE html>
<html>
<head>

<title>Cambio de usuario</title>
{% include 'chieti/mainHead.html' %}
<script type="application/javascript">

</script>
</head>
<body>
	<div>
		{% for per in todos %}
		<form action="/chieti/changeUser2/" method="post">
			<div>
				<input name="idPer" hidden="hidden" value="{{per.id}}"/>
				<label>{{per.userDj.firts_name}}</label>
				<label>{{per.userDj.last_name}}</label>
				-
				<label>{{per.userDj.username}}</label>
				 - 
				<label>{{per.address}}</label>
				<button>Cambiar</button>
				<br>
			</div>
		</form>
		{% endfor %}    
	</div>
</body>

</html>