<!DOCTYPE html>
<html>
<head>

<title>Cambios de Stock</title>
{% include 'chieti/mainHead.html' %}



</head>
<body>
<form action="/chieti/changeStock2/" method="post">{%csrf_token%} 
<!-- -->
<table align="center">
	
</table>

<table>
	<div id="divAutoComplete" style="margin-left:30%;margin-top:2%;z-index:3;">
		<div id="subProd" class="ui-widget">
		     <label for="tags">Buscar Producto: </label>
			 <input id="tags">
		</div>
		<br>	    
	</div>
	
	<section id='productsInList' align="center">
		{% for each in todos %}
			<div class="productCont">
			    <label name= "{{each.productFK.id}}" class="product">{{ each.productFK.name }} </label>
			    <input type="text" name="stock" class="quant" value="{{each.quantity}}" id= "{{each.productFK.id}}"/>
			    <button type='button' class="button red remove" tabindex="-1">x</button> 
			    <label class="mu">{{ each.productFK.measureUnit }}</label>
			    <br/>
			</div>
	    
		{% endfor %}
	</section>

	<div class="template" style="display:none; ">
		<label value="" class="product"></label>
		<input type="text" name="stock">
		<button  type='button'  class="button red remove" tabindex="-1" >x</button>
		<label class="mu"></label>
	</div>

</table>
<input type="hidden" name="array" id="array">
<input type="submit" value="Guardar Cambios " id="ready"/>
</form>

</body>
</html>


</body>
<footer>

{% include 'chieti/mainFoot.html' %}


<script type="text/javascript">
arrayDeleted=[]
arrayChanged=[]

$(document).ready(function(){
	//initial assigment for preload stock
	addRemove();
	changeQuant();

	$( "#tags" ).autocomplete({
		source:"/chieti/complete/",
		minLength:2,
		select: function( event, data ) {
    		container=$('.template').clone();
    		$(container).attr('class','productCont')
    		//container=$(container).clone();
    		label=$(container).find('.product');
    		input=$(container).find('input');
    		$(input).addClass('quant');
    		$(input).attr("id",data.item.id);
    		mu=$(container).find('.mu');
    		$(label).html(data.item.name);
    		//$(label).attr('value',this.quantity);
    		//$(input).val(this.quantity)	
    		$(label).attr('id',data.item.id);	
    		$(mu).html(data.item.um);

    		$(container).removeAttr('style');
    		$('#productsInList').append(container);
    		addRemove();
    		changeQuant();
    		
    	}
    });

	$('#ready').click(function(){
		a=[];
		//$('input.quant').each(function(){
		$(arrayChanged).each(function(){
			quant=$(this).val();
			id=$(this).attr('id');
			b={"quant":quant,"id":id};
			a.push(b);
		});
		for (i=0;i<arrayDeleted.length;i++){
			quant=0;
			id=arrayDeleted[i];
			b={"quant":quant,"id":id};
			a.push(b);
		}
		
		a=JSON.stringify(a);
		console.log(a);
		$('form').append("<input name="+'array'+" value="+a+" hidden='hidden'>");
	});
});

function checkQuantOk(quant,mu){
	
	num=quant;
	um=mu;
	
	if(!$.isNumeric(num)){
		return false;
	}
	if(num < 0.1)
		return false;
	if (um=="Un"){
		if(!(num % 1 === 0)){
			return false
		}
	}
	return true;
}

function addRemove(){
	$('.remove').click(function(){
		id=$(this).parents('.productCont').find('.quant').attr('id');
		
		arrayDeleted.push(id);
		
		$(this).parents('.productCont').remove();
	});	
}

function changeQuant(){
	$('.quant').change(function(){
		
		mu=$(this).parents('.productCont').find('.mu').html();

		quant=$(this).val();
		if( checkQuantOk(quant,mu) == false){
			$(this).val(0);
		}
		arrayChanged.push($(this))
	});
}
	
</script>



<style type="text/css">
	
	#left{
		max-width: 30%;
		margin-right: 10%;
		display: inline;
		margin-left: 5%;
	}
	#rigth{
		max-width: 30%;
		margin-left: 10%;
		display: inline;
	}
	#productsInList{
		font-size: 30px;
	}

</style>

</footer>

</html>