<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cambios de precios</title>

<link href="{% include 'chieti/1.html' %}">

<script type="text/javascript">
	$(document).ready(function(){
	});

</script>


</head>
<body>
<form action="/chieti/changePrice2/" method="post">
{% for each in todos %}
	<img alt="" src="">
	<input name="ids" hidden="hidden" value="{{each.id}}"></input>
    <label name= "names" id='names' class="product">{{ each.name }} $ </label>
    <label id='precio'>{{each.salePrice}}</label>
    <input type="text" name="newPrice"></input>
    <br/>
{% endfor %}

<input type="submit" value="Guardar Cambios " />
</form>

</body>
</html>