<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cambiar Orden</title>
<link href="{% include 'chieti/mainHead.html' %}">
    
<script type="text/javascript">
	

	$(document).ready(function() { 
	  	console.log( "ready prod!" ) 		
		$('input[name=quantity]').change(function(){
			//recalc the price when change quantity
            var ant=$(this).siblings("label[name=price]").attr("title")
			var cant=$(this).val()            
			var dsp=ant*cant
			console.log ('prec ant:', ant,' cant: ',cant,' dsp ',dsp 	)
			$(this).siblings('label[name=price]').html(dsp)
			calTotalPrice()
            
		});
		$('label[name=price]').each(function(){
			//calc the subTotal price
			pr=$(this).attr("title")
	  		qu=$(this).siblings("input[name=quantity]").val()
	  		$(this).html(pr*qu)
		});
		$("label.remove").click(function(){
			//remove the item from de DB and DOM
			item=$(this).siblings("input[name=itemId]").val()
			console.log("item",item)
			$.ajax({
                url: '/chieti/removeItem/',
                type: 'post', 
                data: {
                    "itemId":item,
                },
                success: function(data) {
                    console.log("todo ok! AJAX")
                    console.log(data)
                }
            });
			$(this).parent("div").remove()
			calTotalPrice();
		})
		
		
		calTotalPrice()  	
	});
	function calTotalPrice(){
		var sumTotal=0
		$('label[name=price]').each(function(){
			//calc the total price
			sumTotal=sumTotal+parseInt($(this).text())
			console.log(sumTotal)	
		})
		$('label[title=total]').html(sumTotal)
	}

</script>

	

</head>
<body>
<div>
<form action="/chieti/changeOrder2/" method="post">
	{% for item in todos %} <!-- OJO is a vector of jsons -->
	    <div>
	        <img alt="" src="">
	        <input name="itemId" hidden="hidden" value="{{ item.id }}"/>
	        <input name="productId" hidden="hidden" value="{{ item.productFK.id }}"/>
	        <label title='name' class="product" >{{ item.productFK.name }}</label>
	        -----
	        <label for='quantity'>Cant:</label>
	        <input name='quantity' type="number" value="{{item.quantity}}"></input>
	        <label >{{ item.productFK.measureUnit }}</label>
	        -----
	        <label>Precio:</label>
	        <label name='price' title="{{item.productFK.salePrice}}">{{item.productFK.salePrice}}</label>
	  		-----
	        <label class="remove">Eliminar</label>
	        <br/><br/>
	    </div>
	{% endfor %}
	Total: $ <label title='total'></label>
	<br/><br>
	<input type="submit" class="change" value="Cambiar"></input>
</form>
</div>

</body>
</html>