<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cambio de usuario</title>
{% include 'chieti/mainHead.html' %}
<script type="application/javascript">
/*
	$(document).ready(function(){
		$("button").click(function(){
			var id=$(this).siblings("input[name=idPer]").val()
			$.post("/chieti/changeUser2/", { idPer: id},function(data){
				$('body').html(data);
				
			});
			
		});
	});
	*/
</script>
</head>
<body>
	<div>
		{% for per in todos %}
		<form action="/chieti/changeUser2/" method="post">
			<div>
				<input name="idPer" hidden="hidden" value="{{per.id}}"/>
				<label>{{per.userDj.username}}</label>
				 - 
				<label>{{per.address}}</label>
				<button>Cambiar</button>
				<br>
			</div>
		</form>
		{% endfor %}    
	</div>
</body>

</html>