<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
{% load staticfiles %}
{% include 'chieti/mainHead.html' %}
<title>Como comprar</title>
</head>
<body>
<h1 align="center">Como comprar</h1>
<section> Realice su cumpra sin moverse de su casa</section>
<section> y la abona cuando la recibe</section>
<section> Desde nuestra pagina, elija sus productos, con un solo click los agrega a su compra
		 <a href="/chieti/template/chieti/product">Ver productos</a>
</section>
<section> o por telefono</section>
</body>
</html>