<!DOCTYPE>
<html>
<head>

{% load staticfiles %}
{% include 'chieti/mainHead.html' %}
<title>Como comprar</title>
</head>
<body>
<h1 align="center">Como comprar</h1>
<section class="textPrim"> Realice su compra sin moverse de su casa</section>
<section class="textPrim"> y la abona cuando la recibe</section>
<section class="textSeg"> Desde nuestra pagina, elija sus productos, con un solo click los agrega a su compra
		 <a href="/chieti/product">Ver productos</a>
</section>
<section class="textTer"> o por telefono</section>
</body>
</html>