<!DOCTYPE html>
<html>
<head>
<title>Email</title>
</head>
<style>
   div.link {
       display: 'block';
       position: 'relative';
       background-color: '#2B7ABD';
       width: 144px;
       height: 30px;
       text-align: center;
       text-decoration: none;
       color: white;
       font-size: 14px;
       margin-top: 49px;
       border-radius: 4px;
       margin-left: 178px;
   }
</style>
<body>
<div class="link"> 
  <label>
    <h1>Bienvido a Chieti-Compras!!</h1>
    <h3>La manera mas facil, rapida y barata de hacer sus compras!</h3>
    <br>
    <label>
      Para completar su registracion presione el enlace siguiente para que podamos confirmar su direccion de correo electronico 
    </label>
  </label>

  <a href="http://chieticompras.com/chieti/singUp3/?email={{ mail }}&name={{name}}">  
    Confirmar Email
  </a>
</div>
</body>
</html>