<!DOCTYPE html>
<html>
<head>
<!-- DSP NO DEBERIA ESTAR EL bootstrap.min -->
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'chieti/css/bootstrap.min.css' %}" ></link>
<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />

	<title></title>
	<script type="text/javascript">
	$(document).ready(function() {
	  $.ajaxSetup({ cache: true });
	  $.getScript('//connect.facebook.net/es_ES/all.js', function(){
	    FB.init({
	      appId: '1423912961192227',
	    });     
	    $('#loginbutton,#feedbutton').removeAttr('disabled');
	    FB.getLoginStatus(updateStatusCallback);
	  });
	});
	</script>
	
</head>
<body>
	
	<div class="contenedorBotones">
		<button id="quienesSomos" class="btnInicio quienes btn btn-default btn-lg" type="button"><label for="quienesSomos">Quienes Somos</label></button>
		<button id="promos" class="btnInicio promos btn btn-default btn-lg"><label for="promos">Promociones</label></button>
		<button id="verdura" class="btnInicio verduras btn btn-default btn-lg"><label for="verduras">Verduras</label></button>
		<button id="frutas" class="btnInicio frutas btn btn-default btn-lg"><label for="frutas">Frutas</label></button>
		<button id="bebidas" class="btnInicio bebidas btn btn-default btn-lg"><label for="frutas">Bebidas</label></button>
		<button id="otros" class="btnInicio otros btn btn-default btn-lg"><label for="frutas">Otros</label></button>
	</div>

</body>
</html>
