<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />

{% include 'chieti/mainHead.html' %}
	<title>Chieti</title>
	<script type="text/javascript">
	</script>
<script src="{% static 'chieti/js/productTemplate.js' %}"></script>
<script src="{% static 'chieti/js/jquery.lazyload.min.js' %}"></script>
	
</head>
<body>

<label>Nuestras promociones</label>
<br/>
<div class="allProducts">
	{% for prod in todos %}
		<div class="divImghome">
		<label >{{prod.name}}</label>
		<!-- Agrego {promo} para poner la clase: productImgSale -->
			<img id="img{{ prod.id }}" alt="" data-original="/static/chieti/productImages/{{ prod.id }}.png" class="productImg {{promo}}" name="{{ prod.id }}" onClick="event.stopPropagation(); popUp({{prod.id}});" src="/static/chieti/images/white.png" />
			
			{% for i in prod.items.all %}
					<label>{{i.promoQuantity}}{{i.productFK.name}}</label>
					<br/>
				{% endfor %}
			<div name="{{ prod.id }}">
				<br>
				<label class='prodItems' style="display:none"></label>
				<label>${{prod.salePrice }}</label>
			</div>
		</div>
	{% endfor %}    
</div>

	
	<!-- div class="contenedorBotones">
		
		<div>	
			<a class="prod botonMenu" href="/chieti/product"></a>
			<a class="botonMenu sale" href="/chieti/sales"></a>
			<a class="botonMenu order" href="/chieti/changeOrder"></a>
		</div>	
		
	</div>
	 -->

</body>
</html>
