<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="{% static 'chieti/css/bootstrap.min.css' %}" ></link>
<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />

{% include 'chieti/mainHead.html' %}
	<title>Chieti</title>
	<script type="text/javascript">
	$(document).ready(function() {
	  $.ajaxSetup({ cache: true });
	  $.getScript('//connect.facebook.net/es_ES/all.js', function(){
	    FB.init({
	      appId: '1423912961192227',
	    });     
	    $('#loginbutton,#feedbutton').removeAttr('disabled');
	    FB.getLoginStatus(updateStatusCallback);
	  });
	});
	</script>
	
</head>
<body>
	
	<div class="contenedorBotones">
		<div>
			<a style="float:left;margin-left: 20%;display:block; color:gray; font-weight: bold ">Quienes Somo</a>
			<a style="float:left;margin-left: 18%;display:block; color:gray;font-weight: bold ">Que ofrecemos</a>
			<a style="float:left;margin-left: 15%;display:block; color:gray;font-weight: bold ">Como realizar tus compras</a>
		</div>
		<div>	
			<a class="prod botonMenu" href="/chieti/template/chieti/product"></a>
			<a class="botonMenu sale" href="/chieti/template/chieti/sales"></a>
			<a class="botonMenu order" href="/chieti/template/chieti/changeOrder"></a>
		</div>	
		{{a}}
	</div>

</body>
</html>
