<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<button id="quienesSomos" class="homeButton"><label for="quienesSomos">Quienes Somos</label></button>
	<button id="promos" class="homeButton"><label for="promos">Promociones</label></button>
	<button id="verdura" class="homeButton"><label for="verduras">Verduras</label></button>
	<button id="frutas" class="homeButton"><label for="frutas">Frutas</label></button>
	
	<button id="bebidas"><label for="bebidas">Bebidas</label></button>
	<button id="otros"><label for="otros">Otros</label></button>
	<button id="servicios"><label for="servicios">Servicios</label></button>
	<button id="pedidos"><label for="pedidos">Pedidos</label></button>


</body>
</html>