<!DOCTYPE>
<html>
<head>
<meta charset="utf-8">
<!-- meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<meta name="viewport" content="width=device-width, user-scalable=no">
	{% load staticfiles %}
	<script src="{% static 'chieti/js/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'chieti/js/jquery-ui-1.10.4.min.js' %}"></script>
	<script src="http://librosweb.es/ejemplos/bootstrap_3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" media="(min-width: 800px)" href="{% static 'chieti/css/mediaQuery.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/buttonStyle.css' %}" />
			
<title>Chieti</title>
</head>


<body>
<div name="titulo" align="center">
		<img id="swap" src="{% static 'chieti/images/logo.jpg' %}" style="width:100px;height:100px;" alt=""/>			 
</div>
		
<div class="btn-sesion">
{% if user.is_authenticated %}
    <a type="button" class="button white"  href="/chieti/logOut"> Cerrar Sesion</a>
    
    <a href="/chieti/changeUserData"><img src="{% static 'chieti/images/tuerca.png' %}" style="width:25px;height:25px;" alt=""/></a>
    
{% else %}
    <a type="button" class="button white"  href="/chieti/singIn"> Iniciar Sesion</a>
{% endif %}
	
</div>
</body>

</html>
