<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />
	<!-- script type="text/javascript" src="{% static 'chieti/js/jquery.js' %}" ></script>
	<script type="text/javascript" src="{% static 'chieti/js/bootstrap.min.js' %}" ></script>
	<link rel="stylesheet" href="{% static 'chieti/css/bootstrap.min.css' %}" ></link> -->
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	
	<script type="text/javascript"></script>

		
<title>Chieti</title>
</head>
<body>
<div name="titulo" align="center">
	<h3 class="title">Chieti</h3>
		<img id="swap" src="{% static 'chieti/images/fruit.png' %}" style="width:150px;height:100px;" alt=""/>
	<div class="borderInicio">Not just a grocery store</div>			 
</div>


<script>
var images = ["{% static 'chieti/images/fruit.png' %}","{% static 'chieti/images/manzana.jpg' %}","{% static 'chieti/images/sale.png' %}"];
i = 0,
// $swap = $("#swap");
swapper=0;
	console.log("mouse in");
function swapImg(){
  i = i % images.length;
  $("#swap").attr("src",images[i]);        
  i++;
}

$("#swap").hover(function(){
	console.log("in!");
	swapper = setInterval(swapImg,1000); //cambia cada 1 segundo
	},function(){
	    clearInterval(swapper);
		});
 
</script>
</body>
</html>
