<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />
	<!-- script type="text/javascript" src="{% static 'chieti/js/jquery.js' %}"/> -->
	<script src="{% static 'chieti/js/jquery-1.11.0.min.js' %}"></script>
  	<script src="{% static 'chieti/js/jquery-ui-1.10.4.min.js' %}"></script>
	<script type="text/javascript"></script>

<title>Resumen de Ordenes</title>

<script type="text/javascript">
    $(document).ready(function(){

        $('.canceled').each(function(){
        	
            //if is true 'tacha' the product
            if($(this).html()=='true'){
            	
            	ant=$(this).parent();
            	$(ant).css('text-decoration','line-through');
            	$(ant).find('.subTotal').css('background-color','yellow')
                total=parseFloat($('.totalPrice').html())
                
                prevPrice=parseFloat($(ant).find('.subTotal').html());
                
                total=total-prevPrice
                
                $('.totalPrice').html(total)
                
            }
        })
    })
</script>

<style>
table																
{
border:1px solid black;
}
</style>

</head>

<body>
<br/>




{% for ords in orderManagerArray %}
	<div class="remBoreder">
	<img id="swap" src="{% static 'chieti/images/logo.jpg' %}" style="width:100px;height:100px;display:block; margin-left: auto; margin-right: auto" alt=""/>
    <label title="user" class="remTitle remFont">{{ords.userName}}</label>
    <label title="lastName" class="remTitle remFont">{{ords.lastName}}</label>
    <label class="remTitle remFont"> N:</label>
    <label title="orderNumber" class="remTitle remFont">{{ords.orderNumber}}</label> 
    <br>
    <label class="remFont">Direccion: {{ords.address}}</label>
    <br/>
   <table class="tableOrders table">
		<tr>
		  <td class="tableOrders">Producto</td>
		  <td class="tableOrders">Cantidad</td>  
		  <td class="tableOrders">PrecUnit</td>
		  <td class="tableOrders">Subtotal</td>
		</tr>

    {% for prods in ords.products %}
    	<tr>
		  <td title="productName" class="tableOrders productName">{{prods.productName}}</td>
		  <td class="canceled" title="canceled" hidden="hidden">{{prods.canceled}}</td>
<!-- 		<input class="canceled" title="canceled" value="{{prods.canceled}}" hidden="hidden"> -->
		  <td title="quantity" class="tableOrders">{{prods.quantity}}</td> 
		  <td title="salePrice" class="tableOrders">{{prods.salePrice}}</td>
		  <td title="subTotal" class="tableOrders subTotal">{{prods.subTotal}}
		  
		  </td>
		</tr>                        
	{% endfor %}
		  <td></td> 
		  <td></td>
		  <td>Total:</td>
		  <td title="totalPrice" class="tableOrders totalPrice">{{ords.totalPrice}}</td>
	</table>
	<label class="remTel">Comunicate a: Diego Giron: 3513646306</label>
	<br/>
	<label class="remTel">              Paulo Graglia: 3515523537</label>
    </div>	
{% endfor %}

</body>
</html>
