<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="{% include 'chieti/mainHead.html' %}" >

<title>Resumen de Ordenes</title>

<script type="text/javascript">
    $(document).ready(function(){

        $('input[title=canceled]').each(function(){
            //if is true 'tacha' the product
            if($(this).val()=='true'){
                ant=$(this).parent('div')
                $(this).parent('div').replaceWith("<del>"+$(ant).html()+"</del>")
                
                
                total=parseInt($('label[title=totalPrice]').html(),10)
                prevPrice=parseInt($(this).siblings('label[title="subTotal"]').html(),10)
                total=total-prevPrice
                console.log(total)
                $('label[title="totalPrice"]').html(total)
                
            }
        })
    })
</script>

</head>

<body>

<br/>
{% for ords in orderManagerArray %}
	<div>
    <label title="user">{{ords.userName}}</label>
    <label>Numero de orden</label>
    <label title="orderNumber">{{ords.orderNumber}}</label>
    <br/>
    Producto - Cantidad - PrecUnit - Subtotal
    <br/>
    {% for prods in ords.products %}
    	<div>
            <label title="productName">{{prods.productName}}</label>
            ------
            <label title="quantity">{{prods.quantity}}</label>
            --------
            <label title="salePrice">{{prods.salePrice}}</label>
            ---------
            <label title="subTotal">{{prods.subTotal}}</label>

            <input title="canceled" value="{{prods.canceled}}" hidden="hidden">
            <br>
        </div>
	{% endfor %}
	------------------------------Total:
	<label title="totalPrice">{{ords.totalPrice}}</label>
    <br/><br/>
    
    </div>	
{% endfor %}


</body>
</html>