<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="{% include 'chieti/1.html' %}" >

<title>Resumen de Ordenes</title>
</head>
<body>

<br/>
{% for ords in orderManagerArray %}
	<div>
    <label title="user">{{ords.userName}}</label>
    <label>Numero de orden</label>
    <label title="orderNumber">{{ords.orderNumber}}</label>
    <br/>
    Producto - Cantidad - PrecUnit - Subtotal
    <br/>
    {% for prods in ords.products %}
    	
    	<label title="productName">{{prods.productName}}</label>
    	------
    	<label title="quantity">{{prods.quantity}}</label>
    	--------
    	<label title="salePrice">{{prods.salePrice}}</label>
    	---------
    	<label title="subTotal">{{prods.subTotal}}</label>
    	<br/>
    	<label title="canceled">{{prods.canceled}}</label>
    	
	{% endfor %}
	------------------------------Total:
	<label title="totalPrice">{{ords.totalPrice}}</label>
    <br/><br/>
    
    </div>	
{% endfor %}


</body>
</html>