<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- 
{% for o in some_list %}
    <tr class="{% cycle 'row1' rowvalue2 'row3' %}">
        ...
    </tr>
{% endfor %}
 -->
 


</head>
<body>
<div>
{% for prod in todos %}
	<img alt="" src="">
    <li id='name' class="product">{{ prod.name }}</li>
    <label for='cantidad'>Cantidad</label>
    <input id='cantidad' type="text">
    <div></div>
    <label for='precio'>Precio: {{prod.salePrice}}</label>
    
{% endfor %}
</div>

</body>
</html>