<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- 
{% for o in some_list %}
    <tr class="{% cycle 'row1' rowvalue2 'row3' %}">
        ...
    </tr>
{% endfor %}
 -->
{% include 'chieti/1.html' %}
{% include 'chieti/mainHead.html' %}
<script type="text/javascript">

function Popup(status, id) {
    if (status == 1) {
        	console.log("id: "+id);
        	$("#divProdCentral").css("display", "block");      	
        	$("#centralImg").attr("src","/static/chieti/productImages/"+id+".jpg");
    }
    else{
    	setTimeout(function(){
    		if (!$('#divProdCentral').is(':hover'))
        		$("#divProdCentral").css("display", "none");
    	}, 1000);
    }
}

	$(document).ready(function() {
	  	console.log( "ready prod!" ) 
		var ant=$('#precio').text()
		$('#quantity').change(function(){
			console.log('cambio')
			
			var cant=$('#quantity').val()
			var dsp=ant*cant
			console.log ('prec ant:', ant,' cant: ',cant,' dsp ',dsp 	)
			$('#price').text(dsp)
		})
        $('.add').click(function(){
            var button=$(this).clone()
            ids=button.prev("#ids").text()
            quant=button.prev("#quant").text()
            console.log("ids:",button.prev().attr("id"))
            $.ajax({
                url: '/chieti/addToOrder/',
                type: 'post', 
                data: {
                    'ids':ids,
                    'quantity':quant,
                },
                success: function(data) {
                    console.log("todo ok! AJAX")
                    console.log(data)
                }
            });
        })
	});
	

</script>
	

</head>
<body>
<div class="allProducts">
{% for prod in todos %}
	<img alt="" src="/static/chieti/productImages/{{ prod.id }}.jpg" class="productImg" onMouseover="Popup(1,{{ prod.id }})" onMouseout="Popup(0,0)">
{% endfor %}
    
</div>


<!-- style="display:none;" -->
<div id="divProdCentral" class="centralProd" style="display:none;">
	<section >
	<img id="centralImg" src="/static/chieti/productImages/1.jpg" alt="" style="width:250px; height:250px;">
    <label id='ids' hidden="hidden">{{ prod.id }}</label><br/>
    <label id='name' class="product">{{ prod.name }}</label><br/>
    <label for='quantity'>Cant:</label>
    <input id='quantity' type="text" value="" >
    <br/>
    <label >Precio: <label id='price'>{{prod.salePrice}}</label></label>
    <button class="add">Agregar</button>
    <br/><br/>
    </section>    
</div>



</body>
</html>