<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- 
{% for o in some_list %}
    <tr class="{% cycle 'row1' rowvalue2 'row3' %}">
        ...
    </tr>
{% endfor %}
 -->
<link href="{% include 'chieti/1.html' %}">
    
<script type="text/javascript">
	$(document).ready(function() {
	  	console.log( "ready prod!" ) 		
		$('input[name=quantity]').change(function(){
            var ant=$(this).siblings("label[name=price]").attr("title")
			var cant=$(this).val()            
			var dsp=ant*cant
			console.log ('prec ant:', ant,' cant: ',cant,' dsp ',dsp 	)
			$(this).siblings('label[name=price]').html(dsp)
            
		})
        $('.add').click(function(){
            //ids=$(this).siblings(".ids").text()
            var ids= $(this).siblings("label[name=ids]").html()
            var quant= $(this).siblings('input[name=quantity]').val()
            console.log("ids:",ids,quant)
            $.ajax({
                url: '/chieti/addToOrder/',
                type: 'post', 
                data: {
                    'ids':ids,
                    'quantity':quant,
                },
                success: function(data) {
                    console.log("todo ok! AJAX")
                    console.log(data)
                }
            });    
        })
        
        

	});

</script>

	

</head>
<body>
<div>
{% for prod in todos %}
    <div>
        <img alt="" src="">
        <label id="id1" name="ids" class="ids" hidden="hidden">{{ prod.id }}</label>
        <br/>
        <label name='name' class="product" >{{ prod.name }}</label>
        <br/>
        <label for='quantity'>Cant:</label>
        <input name='quantity' type="text" value="" >
        {{prod.measureUnit}}
        <br/>
        <label>Precio:</label>
        <label name='price' title="{{prod.salePrice}}">{{prod.salePrice}}</label>
        <button class="add">Agregar</button>
        <br/><br/>
    </div>
{% endfor %}
    
</div>

</body>
</html>