<!DOCTYPE html>
<html>
<head>

<title>Chieti</title>
{% include 'chieti/mainHead.html' %}
{% load staticfiles %}

<script type="text/javascript">

</script>

	

</head>
<body class="prodBody" >
<div>
<!-- menuResponsive -->
	{% include 'chieti/prueba.html' %}
	<!--
	<a id="1" href="#"  class="l linkTipo">Frutas</a>
	<a id="2" href="#" class="l linkTipo">Verduras</a>
	<a id="5" href="#"  class="l linkTipo">Bebidas</a>
	<a id="3" href="#"  class="l linkTipo">Otros</a>
	<a id="4" href="#" class="l linkTipo">Todos</a>
	style="margin-left:0% " style="margin-left:15%"  style="margin-left:15%" style="margin-left:15%"   style="margin-left:15%"-->
</div>
<br/><br>

	<div id="divAutoComplete">
		<div id="subProd" class="ui-widget">
		     <label for="tags">Buscar Producto: </label>
			 <input id="tags">
		</div>	    
	</div>

<div id="divLeft" class="divLeft">
	<img id="carrito"  class="carrito" alt="Mi compra">
	<br>
	<label style="margin:20%">Total: $ 
		<label id="totalPrice"></label>

	</label><br>

	<a class="button white" style="position:absolute;margin:10%;" href="/chieti/myList/">Lista Rapida!</a>	
</div>

<br/>

<!-- img id="img10" alt="" src="/static/chieti/productImages/1.jpg" style="position:absolute; top:81px;> -->
<section>
	{% include 'chieti/getProducts.html' %} 

	
</section>

<div style="display:none;" class="divInvisible divAuto formLogin prodContainer"  align="center">
	<button id="close" style="position:absolute; left:10px;top:5px;" class="button red">x</button>
	<section >
		<input id="id1" name="ids" class="ids" hidden="hidden"></input>
		<br/>
		<label name='name' class="product" ></label>
		<label id="itemPromo"></label>
		<br/>
		<label id="labQuantity" for='quantity'>Cant:</label>
		<input name='quantity' type="number" class="quantity" min=0.0 step="0.5" value="" pattern="[0-9]{10}" required="required" style="width:50%" autofocus>
		<label id="um" name='UnidadMedida'></label>
		<br/>
		<label>Precio: $</label>
		<label name='price' class="price"></label>
		<br/>
		<button class="add btnNaranja chico">Agregar</button>
		
	</section>
</div>
{%csrf_token%}
<b class="aclaracion">Las imagenes son solo a modo ilustrativo</b>
</body>
<footer>
<script src="{% static 'chieti/js/jquery.lazyload.min.js' %}"></script>
	{% include 'chieti/mainFoot.html' %}
	<script src="{% static 'chieti/js/funciones.js' %}"></script>
	<script src="{% static 'chieti/js/productTemplate.js' %}"></script>
	
	<script src="{% static 'chieti/js/bootstrap.min.js' %}"></script>

	
</footer>
</html>
