<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Chieti</title>
{% include 'chieti/mainHead.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">
var prevID;
function Popup(id) {
	if(prevID){Desaparecer(prevID);}
	prevID=id;	
	var pos = $("#img"+id).position();
	//$( "#div"+id ).css({ position: "absolute",
    //     marginLeft: 0, marginTop: 0,
    //     top: pos.top, left: pos.left });
	$( "#div"+id ).css({  position: "absolute", top: 0, left: 300});
    console.log("id status1: "+id);
    $("#div"+id).css("display","");
}

function PopupAutoComplete(id,name,um) {
	if(prevID){Desaparecer(prevID);}
	prevID=id;	
	
	$template= $(".divAuto").clone();
	$template.attr("id",id);
	$ids= $template.siblings("input[name='ids']");
	$ids.attr("id",id);
	$name= $template.siblings("label[name=name]")
	$name.attr("value",name);
	$quant= $template.siblings("label[name=quantity]")
	$quant.attr("value",um);
	//price= $(this).siblings("label[name=price]").html()
	//price.attr("value",saleP);
	
	$template.css("display","");
	console.log($template);
	$("#divAutoComplete").append($template);
	//$( "#div"+id ).css({ position: "absolute",
    //     marginLeft: 0, marginTop: 0,
    //     top: pos.top, left: pos.left });
	
}


function Desaparecer(id){
	console.log(id);
	$("#div"+id).css('display', 'none');
	}

	$(document).ready(function() {
	  	console.log( "ready prod!" ) 		
		//$('input[name=quantity]').change(function(){
		$('.quantity').change(function(){
			var ant=$(this).siblings("label[name=price]").attr("title")
			var cant=$(this).val()            
			var dsp=ant*cant
			dsp = dsp.toFixed(2);
			console.log ('prec ant:', ant,' cant: ',cant,' dsp ',dsp)
			$(this).siblings('label[name=price]').html(dsp)
            
		})
        $('.add').click(function(){
            //ids=$(this).siblings(".ids").text()
            var ids= $(this).siblings("label[name=ids]").html()
            var quant= $(this).siblings('input[name=quantity]').val()
            if(checkQuantPositive(quant)==true){
            	console.log("ids:",ids,quant)
                $.ajax({
                    url: '/chieti/addToOrder/',
                    type: 'post', 
                    data: {
                        'ids':ids,
                        'quantity':quant,
                    },
                    success: function(data) {
                        console.log("todo ok! AJAX")
                        console.log(data)
                    }
                });
            }
                
        });
        
		$(".l").click(function() {
		  		  console.log("link id:", $(this).attr("id") );
		  		  alert("h");
		  		  $.ajax({
		              url: '/chieti/product/',
		              type: 'post', 
		              data: {
		                  'id': $(this).attr("id"),
		            	  //'id': $(this).val(),
		              },
		              success: function(data) {
		                  //console.log("todo ok! AJAX")
		                  //console.log(data)
		                  $("body").html(data)
		              }
		          });    
  		});
		
		 $("#carrito").click(function() {
			 $(location).attr('href','/chieti/template/chieti/changeOrder');       			
			 });
		 
		 
		  $( "#tags" ).autocomplete({
		      source:"/chieti/complete/",
		      minLength:2,
		      select: function( event, data ) {
				  if(prevID)
					  {console.log("prevID:",prevID);
					   Desaparecer(prevID);
					  }
				  prevID=data.item.id;
				  console.log("ANTES ");
				  PopupAutoComplete(data.item.id,data.item.name,data.item.um,data.item.saleP);
			}
		    });

	});
function checkQuantPositive(quant){
	num = new Number(quant);
	console.log('check',quant);
    if( !(num > 0) )
    	return false;
    return true;
}
</script>

	

</head>
<body class="prodBody" >
<div id="tipo" style="margin-left:20%">
	<a id="3" style="float:left;display:block; color:gray; font-weight: bold;" class="l">otros</a>
 	<a id="2" style="float:left;display:block; color:gray; font-weight: bold " class="l">verduras</a> 
 	<a id="1" style="float:left;display:block; color:gray; font-weight: bold " class="l">frutas</a>
</div>
<img id="carrito"  class="carrito" alt="Mi compra">
<div>
<div id="divAutoComplete">
	<div id="subProd" class="ui-widget">
	     <label for="tags">Producto: </label>
		 <input id="tags">
	</div>	    
</div>
<!-- img id="img10" alt="" src="/static/chieti/productImages/1.jpg" style="position:absolute; top:81px;> -->
<div class="allProducts">
{% for prod in todos %}
	<div class="divImg">
	<label name='name' class="product" >{{ prod.name }}</label>
		<!-- onMouseover -->
		<img id="img{{ prod.id }}" alt="" src="/static/chieti/productImages/{{ prod.id }}.jpg" class="productImg" onClick="Popup({{ prod.id }})">
		 <div id="div{{ prod.id }}" style="display:none;" onClick="Desaparecer({{ prod.id }})" class="divInvisible">
	    	<section >
	        <img  src="/static/chieti/productImages/{{ prod.id }}.jpg" alt="" class="productImg2">
	        <label id="id1" name="ids" class="ids" hidden="hidden">{{ prod.id }}</label>
	        <br/>
	        <label name='name' class="product" >{{ prod.name }}</label>
	        <br/>
	        <label for='quantity'>Cant:</label>
	        <input name='quantity' type="number" class="quantity" min=0.001 value="" pattern="[0-9]{10}" required="required" style="width:50%">
	        {{prod.measureUnit}}
	        <br/>
	        <label>Precio: $</label>
	        <label name='price' title="{{prod.salePrice}}">{{prod.salePrice}}</label><br>
	        <button class="add">Agregar</button>
	        <br/><br/>
	        </section>
	    </div>
	</div>
	
{% endfor %}    
</div>
   
</div>

<div style="display:none;" onClick="Desaparecer({{ prod.id }})" class="divInvisible divAuto" style="float:left;">
	    	<section >
	        <img  src="/static/chieti/productImages/{{ prod.id }}.jpg" alt="" class="productImg2">
	        <input id="id1" name="ids" class="ids" hidden="hidden"></input>
	        <br/>
	        <label name='name' class="product" ></label>
	        <br/>
	        <label for='quantity'>Cant:</label>
	        <input name='quantity' type="number" class="quantity" min=0.001 value="" pattern="[0-9]{10}" required="required" style="width:50%">
	        {{prod.measureUnit}}
	        <br/>
	        <label>Precio: $</label>
	        <label name='price' title="{{prod.salePrice}}">{{prod.salePrice}}</label><br>
	        <button class="add">Agregar</button>
	        <br/><br/>
	        </section>
	    </div>



</body>
</html>