<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
{% load staticfiles %}
{% include 'chieti/mainHead.html' %}
<title>Quienes Somos</title>
</head>
<body>
<h1 align="center">Quienes Somos</h1>
	<section>
		<section class="quienes">
		Chieti es un servicio a domicilio con el objetivo de brindar productos de primera calidad a sus clientes.
	 	Queremos ofrecer comodidad, para que los clientes no pierdan tiempo en hacer sus compras en un supermercado,
	 	simplemente elijan los productos desde la comodidad de su casa y nosotros nos encargamos de llevarlos,
	 	garantizando buenos precios.
		</section>
	</section>
</body>
</html>