<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />
<script src="{% static 'chieti/js/jquery-1.11.0.min.js' %}"></script>
<script>
$(document).ready(function() {
	$('#headSale').click(function(){
		window.location="/chieti/home";
		})
});
</script>
<title>Sales</title>
</head>
<body>
<div align="center">
		<img id="headSale" src="{% static 'chieti/images/bigSale.png' %}" style="width:150px;height:150px;" alt=""/>			 
</div>
<div style="width:500px; height:600px;margin-left:30%" class="sales">
	<div class="sales"></div>
</div>
</body>
</html>
