<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />
<title>Sales</title>
</head>
<body>
<div align="center">
		<img id="headSale" src="{% static 'chieti/images/bigSale.png' %}" style="width:150px;height:150px;" alt=""/>			 
</div>


{% for promo in todasPromos %}
<div id="div{{ promo.id }}">
	    	<section >
	        <img  src="/static/chieti/productImages/{{ promo.id }}.jpg" alt="" class="productImg2">
	        <label id="id1" name="ids" class="ids" hidden="hidden">{{ prod.id }}</label>
	        <br/>
	        <label name='name' class="product" >{{ promo.name }}</label>
	        <br/>
	        {% for i in items %}
	        <label>Producto cuyo id es:{{ i.id }}</label><br/>
			{% endfor %} 	        
	        <label for='quantity'>Cant:</label>
	        <input name='quantity' type="text" value="" style="width:10%">
	        {{promo.measureUnit}}
	        <br/>
	        <label>Precio:</label>
	        <label name='price' title="{{prod.salePrice}}">${{promo.salePrice}}</label>
	        <button class="add">Agregar</button>
	        <br/><br/>
	        </section>
	    </div>




{% endfor %} 
</body>
</html>