<!DOCTYPE html>
{% include 'chieti/mainHead.html' %}
<html>
	<head>
	<meta charset="ISO-8859-1">
    	<title>Ingresar </title>
	</head>
	<body>
	{{error}}
		<form action="/chieti/singIn2/" method="post">
			<input type="text" name='username' placeholder="Username" value='{{username}}'>
			<input type="password" name='password' placeholder="Password">
			<input type="submit" value="Ingresar">
		</form>
		<a href="/chieti/templete/chieti/singUp">Registrarse</a>
		
	</body>
</html>