<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
	{% include 'chieti/mainHead.html' %}
<title>Sing Up</title>


</head>
<body>

{{error}}
<div class="formLogin fuenteComun">
<form action="/chieti/singUp2/" method="post" align="middle">{% csrf_token %}
	<table>
		
		<tr>	
		<label class="fuenteComunGrande">Registrarse </label><br>
		</tr>
		<tr>
		<td><label>Nombre</label></td>
		<td><input class="inputStyle" type="text" name='firstName' required="required" autofocus></td>
		</tr>

		<tr>
		<td><label>Apellido</label></td>
		<td><input class="inputStyle" type="text" name='lastName' required="required"></td>
		</tr>

		<tr>
				<td><label>Usuario</label></td>
				<td><input class="inputStyle username" type="text" name="name" required="required">
				
				</td>
				<td>
				<label class="exist"></label>
				</td> 
		</tr>
		
		<tr>
		<td><label>Clave</label></td>
		<td><input class="inputStyle" type="password" name=password1 required="required"></td>
		</tr>
		
		<tr>
		<td><label>Repita clave</label></td>
		<td><input class="inputStyle" type="password" name=password2 required="required"></td>
		</tr>
		
		<tr>
		<td><label>Email</label></td>
		<td><input class="inputStyle" type="email" name=email required="required"></td>
		</tr>
		
		<tr>
			<td><label>Direccion</label>
				<!-- <br/>
				<label>(Lugar de entrega)</label> -->
			</td>
			<td><input class="inputStyle" type="text" name=address required="required"></td>
		</tr>

		<tr>
			<td><label>Telefono</label>
			</td>
			<td><input class="inputStyle" type="tel" name="phone" ></td>
		</tr>
	<tr>
</table>
<input class= "button white singIn" style="margin:5px;" type="submit" value="Listo" id="submit">

</div>


</form>


</body>
<footer>

	{% include 'chieti/mainFoot.html' %}

	<script type="application/javascript">
		$(document).ready(function(){
			$('.username').change(function(){
				console.log('cambio!');
				name=$(this).val();
				$.ajax({
		            url: '/chieti/usernameExist/',
		            type: 'post', 
		            data: {
		                'name':name,
		                'csrfmiddlewaretoken': '{{ csrf_token }}',
		            },
		            success: function(data) {
		               
		                if(data){
		                	$('.exist').html("<img id='wrong' src='/static/chieti/images/wrong.png'>");}
		                else{
		                	$('.exist').html("<img id='fine' src='/static/chieti/images/fine.png'>");}		
		            }
		        });
			});

			$("#submit").submit(function(e){
				if($('form')[0].checkValidity()==true){
					$("input[type=submit]").attr("hidden", "hidden");
					//return true;
				}
				//$("input[type=submit]").attr("disabled", true);
				//return true;
			});
		});

		</script>

</footer>
</html>


