<!DOCTYPE>
<html>
<head>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/buttonStyle.css' %}" />
	
	<!-- script type="text/javascript" src="{% static 'chieti/js/jquery.js' %}"/> 
	<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/bootstrap.min.css' %}" />
	-->
	<script src="{% static 'chieti/js/jquery-1.11.0.min.js' %}"></script>
  	<script src="{% static 'chieti/js/jquery-ui-1.10.4.min.js' %}"></script>
	<script type="text/javascript"></script>
<script>
var images = ["{% static 'chieti/images/fruit.png' %}","{% static 'chieti/images/manzana.jpg' %}","{% static 'chieti/images/sale.png' %}"];
i = 0,
// $swap = $("#swap");
swapper=0;
	
function swapImg(){
  i = i % images.length;
  $("#swap").attr("src",images[i]);        
  i++;
}

$(document).ready(function() {
		$("#swap").hover(function(){
			console.log("in!");
			swapper = setInterval(swapImg,1000); //cambia cada 1 segundo
			},function(){
			    clearInterval(swapper);
				});
				
		$('#swap').bind('mouseleave', function(e) {
			$("#swap").attr("src","{% static 'chieti/images/logo.jpg' %}");
				});
		 
		$('#swap').click(function(){
				window.location="/chieti/home";
				})
}); 

</script>

		
<title>Chieti</title>
</head>
<body>
<div name="titulo" align="center">
		<img id="swap" src="{% static 'chieti/images/logo.jpg' %}" style="width:150px;height:150px;" alt=""/>			 
</div>

<div class="formLogin fuenteComunGrande">
	{{error}}
		
		<form action="/chieti/singIn2/" method="post" align="middle">{% csrf_token %}
			<label>Iniciar Sesion</label>
			<br><br>
			<input type="text" class="alertMnj" name='username' placeholder="Usuario" value='{{username}}' autofocus><br>
			<input type="password" class="alertMnj" name='password' placeholder="Clave">
			<input class="button white singIn" type="submit" value="Ingresar">
			<input type="hidden" value="{{isVentana}}" name="isVentana">
		</form>
		<a class="fuenteComun"  href="/chieti/singUp">Registrarse</a><br>
		<a class="fuenteComun"  href="/chieti/changePass0">Olvide mi clave</a>
</div>

</body>