<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chieti/css/buttonStyle.css' %}" />
<script src="{% static 'chieti/js/jquery-1.11.0.min.js' %}"></script>
<title>Sing Up</title>
</head>
<body>
{{error}}
<div class="formLogIn">
<form action="/chieti/singUp2/" method="post" align="middle">
	<table>
		<tr>
		<td><label>Ingrese Usuario</label></td>
		<td><input type="text" name="name" class='username' required="required">
		<label class="exist"></label>
		</td> 
		
		</tr>
		
		<tr>
		<td><label>Ingrese apellido</label></td>
		<td><input type="text" name=lastName required="required"></td>
		
		</tr>
		
		<tr>
		<td><label>Ingrese clave</label></td>
		<td><input type="password" name=password1 required="required"></td>
		</tr>
		
		<tr>
		<td><label>Repita clave</label></td>
		<td><input type="password" name=password2 required="required"></td>
		</tr>
		
		<tr>
		<td><label>Ingrese email</label></td>
		<td><input type="email" name=email required="required"></td>
		</tr>
		
		<tr>
		<td><label>Ingrese direccion</label></td>
		<td><input  type="text" name=address required="required"></td>
		</tr>
	<tr>
</table>
<input class= "button white singIn" style="margin:5px;" type="submit" value="Listo">

</div>


</form>


</body>

<script type="application/javascript">
$(document).ready(function(){
	$('.username').change(function(){
		console.log($('.username').val());
		name=$(this).val();
		$.ajax({
            url: '/chieti/usernameExist/',
            type: 'post', 
            data: {
                'name':name,
            },
            success: function(data) {
                console.log(data);
                if(data){
                	$('.exist').html("<img id='wrong' src='/static/chieti/images/wrong.png'>");}
                else{
                	$('.exist').html("<img id='fine' src='/static/chieti/images/fine.png'>");}
					
            }
        });


	});
});

</script>
</html>


