<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sing Up</title>
</head>
<body>
{{error}}
<form action="/chieti/singUp2/" method="post">
	<label>Ingrese nombre</label>
	<input type="text" name="name" required="required">
	<br/>
	
	<label>Ingrese apellido</label>
	<input type="text" name=lastName required="required">
	<br/>
	
	
	<label>Ingrese clave</label>
	<input type="password" name=password1 required="required">
	<br/>
	
	
	<label>Repita clave</label>
	<input type="password" name=password2 required="required">
	<br/>
	
	<label>Ingrese email</label>
	<input type="email" name=email required="required">
	<br/>
	
	<label>Ingrese direccion</label>
	<input type="text" name=address required="required">
	<br/>
	
	<input type="submit" value="Listo">

</form>
</body>
</html>


