<!DOCTYPE html>
<html>
<head>
<title>Ingresar</title>

<script type="text/javascript">
/*

		var w  = 400;
		var h = 300;
		var left = (screen.width/2)-(w/2);
		var top = (screen.height/2)-(h/2);
		var myWindow = window.open('/chieti/singIn/?ventana=1','','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);	
	$( window ).unload(function() {
  alert( "Bye now!" );
});
*/


        window.open(document.URL,'_self','resizable=no,top=-245,width=250,height=250,scrollbars=no');
window.close();
</script>
	
</head>
<body>
<a href="#" onclick="close_window();return false;">close</a>
<a href="#" onclick = "javascript:self.close();">close</a>


        <a href="#" onclick = "closeWindow();">close</a>
</body>
</html>

