@media screen and (max-width:1200px){  
	body {
		
	}
	.sectionBotones{
		position: relative;
	}
	.barMenu{
		position: absolute;
	}
	.mainHome{
		position: relative;
		margin-left: 25%;
	}
	.empezar{
		position: relative;
	}
	.botonsales{
		margin-left: 200%;
	}
	
	.l{
		font-size: 30px;
		/*
		position: relative;
		margin-left: 40%;
		*/
	}
	#divAutoComplete{
		font-size: 37px;
		
	
	}
	.productImg{
		max-width: 120%;
		max-height: 120%;
	}
	.divImg{
		width: 150px;
		height: 150px;
	}
	input{
		font-size: 37px;
	}
	.ui-menu-item{
		font-size: 50px;
	}
	div#tipo a{
		font-size: 40px;
		margin-left: 10%;
		float: none;
		margin-left: 30%;
		
		
	}
	.formLogin{
		font-size: 50px;
		width:60%;
	}
	.divActual button#close{
		width: 80px;
		height: 80px;
		font-size: 50px;
	}
	.divInvisible{
	background-color: white;
	/*width:400px;
	height: 400px;
	position: absolute;
	width:100mm;
	height:100mm;*/
	z-index:2;
	
	left: calc(50% - 70mm);
	top: calc(30% - 20mm);
	
	/* margin: 0 auto;*/

  	position: fixed;
	}
	.btnNaranja.chico {
		font-size: 50px;
		width: 240px;
	}
	.productImg2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 300px;
		/* height: 50%; */
	}
}
