.mainHome{
	/*float:left;
	margin-top: 3%;
	*/
	display:inline-block;
	margin-left: 5%;
	
	background-color: white;
}

{
		.barMenu{
			
			left:2%;
			display:block;
			width: 100%;
		}
}
