li a {
    color: green;
}

.imageLogo {
    background: white url("../images/fruit.png") no-repeat right top;
}

.divImg{
	float:left;
	width:80px;
	height:80px;
	display:block;
	margin-right:50px;
	margin-top:50px;
}

.productImg{
	width:100%;
	height: 100%; 
}
.productImg2{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;  

}
.linkTipo{
	/*float:left;
	margin-left: 50%;
	display:block;
	margin-left: 20%;*/
	float:left; color:gray; font-weight: bold;
	padding-left: 100px;
}

.carrito{
	position:absolute;
	/*margin-right:1%;
	margin-left:50%;*/
	margin-top:5%;
	margin-left:-75%;
	width: 100px;
	height: 100px;
	background:url('/static/chieti/images/carrito.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
/*
#carrito:hover .carrito {
background-image:url('/static/chieti/images/miCompra.jpg');
}*/

.allProducts{
	position:absolute;
	/*left:20%;*/
	margin-right:10%;
	margin-left:19%;
}

.divInvisible{
	background-color: white;
	width:200px;
	height: 300px;
}

.botonMenu{
	float:left;
	width:150px;
	height:100px;
	background-size: 100% 100%;
}

.botonMenu.prod{
	margin-left:20%;
	margin-top:1%;
	background-image:url('/static/chieti/images/cajonProductos.png');
}

.botonMenu.sale{
	margin-left:13%;
	margin-top:7%;
	background-image:url('/static/chieti/images/cajonSale.png');
}

.botonMenu.order{
	margin-left:14%;
	margin-top:12%;
	background-image:url('/static/chieti/images/cajonPedido.png');
}

.prodBody
{ 
background-image:url('/static/chieti/images/fondo.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
}



.imgTop {
  position: fixed;
  top:3px;
  right:3px; 
  }

.tableOrders
{
border: 1px solid black;
}

.remBoreder{
	border: solid;
	display:inline-block;
}

.remTitle{
	font-family: "Verdana";
	font-weight: bold;
}

.remTel{
	font-family: "Verdana";
	font-weight: bold;
	font-size: x-small;
}


.link{
	/*float:left;
	color:gray; 
	font-weight: bold;
	margin-left: 50%;
	paddingLeft: 20px;
	margin-left: 300px;*/

	float:left;margin-left: 20%;display:block; color:gray; font-weight: bold 

}


.mainHome{
	float:left;
	margin-left: 15%;
	margin-top: 3%;
}

.textHome{
	font-size: 25px;
	font-family: "Verdana";
}

.textHome2{
	font-size: 30px;
	font-family: "Verdana";
}

.textHome3{
	font-size: 20px;
	font-family: "Verdana";
}


.sectionBotones{
	padding-left:55%;
	margin-top:3%;
}

.botonMenu2{
	/*float:left;
	display:-ms-flexbox; 
	display:-moz-box; 
	display:-webkit-box;
	display: box; 
	box-orient: vertical;
	margin-top:1%;
	width:150px;
	height:100px;
	background-size: 100% 100%;
	*/
	
	float:left;
	width:150px;
	height:100px;
	background-size: 100% 100%;
	
}

.botonMenu2.prod2{
	margin-left:0%;
	margin-top:1%;
	background-image:url('/static/chieti/images/cajonProductos.png');
}
.botonMenu2.sale2{
	margin-left:2%;
	margin-top:25%;
	background-image:url('/static/chieti/images/cajonSale2.png');
}
.botonMenu2.order2{
	margin-left:0%;
	margin-top:5%;
	background-image:url('/static/chieti/images/cajonPedido.png');
}


.quienes{
	font-size: 20px;
	font-family: "Verdana";		
	margin-left: 10%;
	margin-right: 10%;

}
