li a {
    color: green;
}

.imageLogo {
    background: white url("../images/fruit.png") no-repeat right top;
}

.divImg{
	float:left;
	width:80px;
	height:80px;
	display:block;
	margin-right:50px;
	margin-top:50px;
}

.productImg{
	/*width:100%;*/
	height: 100%; 
	max-width:80px;
	z-index:1;
	display:block;
}
.productImg2{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height:50%;  

}
.linkTipo{
	/*float:left;
	margin-left: 50%;
	display:block;
	margin-left: 20%;*/
	float:left; color:gray; font-weight: bold;
	padding-left: 100px;
}

.carrito{
	/*position:absolute;
	top:45%;
	left:5%;*/
	width: 100px;
	height: 100px;
	background:url('/static/chieti/images/carrito.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	margin-top:10%;
	margin-left:40%;
	

}
/*
#carrito:hover .carrito {
background-image:url('/static/chieti/images/miCompra.jpg');
}*/

.allProducts{
	display:inline-block;
	/*left:20%;*/
	margin-right:5%;
	margin-left:20%;
	margin-top: -5%;
}

.divInvisible{
	background-color: white;
	/*width:400px;
	height: 400px;*/
	width:100mm;
	height:130mm;
	z-index:2;
	position: absolute;
	left: calc(50% - 50mm);
	top: calc(50% - 20mm)
	
}

.botonMenu{
	float:left;
	width:150px;
	height:100px;
	background-size: 100% 100%;
}

.botonMenu.prod{
	margin-left:20%;
	margin-top:1%;
	background-image:url('/static/chieti/images/cajonProductos.png');
}

.botonMenu.sale{
	margin-left:13%;
	margin-top:7%;
	background-image:url('/static/chieti/images/cajonSale.png');
}

.botonMenu.order{
	margin-left:14%;
	margin-top:12%;
	background-image:url('/static/chieti/images/cajonPedido.png');
}

.prodBody
{ 
background-image:url('/static/chieti/images/fondo.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
}



.imgTop {
  position: fixed;
  top:3px;
  right:3px; 
  }

.tableOrders
{
border: 1px solid black;
}

.remBoreder{
	border: solid;
	display:inline-block;
}

.remTitle{
	font-family: "Verdana";
	font-weight: bold;
}

.remTel{
	font-family: "Verdana";
	font-weight: bold;
	font-size: x-small;
}


.link{
	/*float:left;
	color:gray; 
	font-weight: bold;
	margin-left: 50%;
	paddingLeft: 20px;
	margin-left: 300px;*/

	float:left;margin-left: 20%;display:block; color:gray; font-weight: bold 

}



.textSeg{
	font-size: 25px;
	font-family: "Verdana";
}

.textPrim{
	font-size: 30px;
	font-family: "Verdana";
}

.textTer{
	font-size: 20px;
	font-family: "Verdana";
}


.mainHome{
	/*float:left;
	margin-top: 3%;
	*/
	display:inline-block;
	margin-left: 15%;
	
	background-color: white;
}


.sectionBotones{
	/*padding-left:55%;
	margin-top:5%;*/
	display:inline-block;
	position:absolute;
}

.divLeft{
	position:absolute;
	display:inline-block;
	left:0;
	width: 10%;
}


.botonMenu2{
	/*float:left;*/
	width:150px;
	height:100px;
	background-size: 100% 100%;
	display:block;
	

}

.botonMenu2.prod2{
	margin-left:10%;
	margin-top:5%;
	background-image:url('/static/chieti/images/cajonProductos.png');
}
.botonMenu2.sale2{
	margin-left:100%;
	margin-top:5%;
	background-image:url('/static/chieti/images/cajonSale2.png');
}
.botonMenu2.order2{
	margin-left:200%;
	margin-top:5%;
	background-image:url('/static/chieti/images/cajonPedido.png');
}



.comprar.fuente{
	font-size: 25px;
	font-family: "Verdana";
	padding-top: 20px;
}

.comprar2{
	width:250px;
	height:60px;
	background-size: 100% 100%;
	display:block;
	margin-top:1%;

}

.comprar2.fuente2{
	font-size: 20px;
	font-family: "Verdana";
	padding-top: 15px;
}



.quienes{
	font-size: 20px;
	font-family: "Verdana";		
	margin-left: 10%;
	margin-right: 10%;

}

.sales{
	background: url('/static/chieti/images/promo.jpg')no-repeat;
	background-size: 100% 100%;
}


.formLogIn{
	/*border: medium;*/
	border-color: #FFCAA6;
	border-style:outset;
	width: 300px;
	border-width: 8px;
	margin-left: auto;
	margin-right: auto;
}

.fuenteComun{
	font-size: 15px;
	font-family: "Verdana";
}