*{
	box-sizing: border-box;
}

li a {
    color: green;
}

.imageLogo {
    background: white url("../images/fruit.png") no-repeat right top;
}

.divImg{
	float:left;
	width:80px;
	height:80px;
	display:block;
	margin-right:50px;
	margin-top:50px;
}
.divImghome{
	float:left;
	/*width:200px;
	height:150px;*/
	width:200px;
	height: auto;
	display:block;
	margin-right:50px;
	margin-top:3%;
	text-align: center;
}

.divImgSale{
	float:left;
	width:150px;
	height:150px;
	display:block;
	margin-right:100px;
	margin-top:50px;
}




.tuerca{background-image:url('/static/chieti/images/tuerca.png');
background-repeat: no-repeat;
}

.productImg{
	/*width:100%;*/
	height: 100%; 
	max-width:80px;
	z-index:1;
	display:block;
}

.productImgSale{
	/*width:100%;*/
	height: 150px; 
	max-width:200px;
	z-index:1;
	display:block;
	margin:auto;
}


.productImg2{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height:200px;
    /*height:50%;*/  

}

.centrar{
	 margin-left: auto;
    margin-right: auto;
}
/* .linkTipo{
	float:left;
	margin-left: 50%;
	display:block;
	margin-left: 20%;
	float:left; color:gray; font-weight: bold;
	padding-left: 100px;
}
 */
.linkTipo{
	float:left;display:block; color:gray; font-weight: bold;
	}


.carrito{
	/*position:absolute;
	top:45%;
	left:5%;*/
	width: 100px;
	height: 100px;
	background:url('/static/chieti/images/carrito.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	margin-top:10%;
	margin-left:40%;
	

}
/*
#carrito:hover .carrito {
background-image:url('/static/chieti/images/miCompra.jpg');
}*/

.allProducts{
	clear: both;
	display:block;
	float:left;
	margin-left:5%;
	/*left:20%;
	margin-right:5%;
	margin-left:20%;
	margin-top: -5%;
	*/
}

.divInvisible{
	background-color: white;
	/*width:400px;
	height: 400px;
	position: absolute;
	width:100mm;
	height:100mm;*/
	z-index:2;
	
	left: calc(50% - 50mm);
	top: calc(30% - 20mm);
	
	/* margin: 0 auto;*/

  	position: fixed;
}

.botonMenu{
	float:left;
	width:150px;
	height:100px;
	background-size: 100% 100%;
}

.botonMenu.prod{
	margin-left:20%;
	margin-top:1%;
	background-image:url('/static/chieti/images/cajonProductos.png');
}

.botonMenu.sale{
	margin-left:13%;
	margin-top:7%;
	background-image:url('/static/chieti/images/cajonSale.png');
}

.botonMenu.order{
	margin-left:14%;
	margin-top:12%;
	background-image:url('/static/chieti/images/cajonPedido.png');
}

.prodBody
{ 
background-image:url('/static/chieti/images/fondo.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
}



.imgTop {
  position: fixed;
  top:3px;
  right:3px; 
  }

.tableOrders
{
border: 1px solid black;
}

.remBoreder{
	border: solid;
	/*display:inline-block;*/
	float:left;
}

.remTitle{
	font-family: "Verdana";
	font-weight: bold;
}

.remTel{
	font-family: "Verdana";
	font-weight: bold;
	font-size: x-small;
}


.link{
	/*float:left;
	color:gray; 
	font-weight: bold;
	margin-left: 50%;
	paddingLeft: 20px;
	margin-left: 300px;*/

	float:left;margin-left: 20%;display:block; color:gray; font-weight: bold 

}


.textPrim{
	/*font-size: 30px;*/
	font-size: 3em;
	font-family: "Verdana";
	margin-top: 5%;
}

.textSeg{
	/*font-size: 25px;*/
	font-size: 2em;
	font-family: "Verdana";
	margin-top: 3%;
}

.textTer{
	/*font-size: 20px;*/
	font-size: 1.5em;
	font-family: "Verdana";
	margin-top: 2%;
}


.mainHome{
	/*float:left;
	margin-top: 3%;
	*/
	float:left;
	display:inline-block;
	margin-left: 5%;
	min-width:200px;
	background-color: white;
}

.empezar{
	float:left;
	/*padding-left:55%;
	margin-top:5%;*/
	margin-top:10%;
	margin-left:5%;
	display:inline-block;
	
}

.barMenu{
	float:left;
	left:2%;
	display:inline-block;
}

.sectionBotones{
	/*padding-left:55%;
	margin-top:5%;*/
	display:inline-block;
	position:absolute;
}



.divLeft{
	position:absolute;
	display:inline-block;
	left:0;
	width: 10%;
}


.botonMenu2{
	/*float:left;*/
	width:150px;
	height:100px;
	background-size: 100% 100%;
	display:block;
}

.botonMenu2.prod2{
	margin-left:10%;
	margin-top:5%;
	background-image:url('/static/chieti/images/cajonProductos.png');
}
.botonMenu2.sale2{
	margin-left:100%;
	margin-top:5%;
	background-image:url('/static/chieti/images/cajonSale2.jpg');
}
.botonMenu2.order2{
	margin-left:200%;
	margin-top:5%;
	background-image:url('/static/chieti/images/cajonPedido.png');
}

.botonsales{
	width:180px;
	height:180px;
	background-size: 100% 100%;
	display:block;
	margin-left:100%;
	margin-top:50%;
	background-image:url('/static/chieti/images/sales.jpg');
}

.comprar.fuente{
	font-size: 25px;
	font-family: "Verdana";
	padding-top: 20px;
}

.comprar2{
	width:250px;
	height:60px;
	background-size: 100% 100%;
	display:block;
	margin-top:1%;

}

.comprar2.fuente2{
	font-size: 20px;
	font-family: "Verdana";
	padding-top: 15px;
}



.quienes{
	font-size: 20px;
	font-family: "Verdana";		
	margin-left: 10%;
	margin-right: 10%;

}

.sales{
	background: url('/static/chieti/images/promo.jpg')no-repeat;
	background-size: 100% 100%;
}

.fuenteComun{
	font-size: 15px;
	font-family: "Verdana";
}

.fuenteComunGrande{
	font-size: 30px;
	font-family: "Verdana";
}

.formLogin { 
	padding:8px; 
	background-color: #F8F8F8; 
	width: 200px; 
	border: 1px solid #999999; 
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}


.formNaranja { 
	padding:8px; 
	background-color: #FFD699;  
	border: 1px solid #999999; 
	border-radius: 10px;
} 



.tooltip{
   position: absolute;
   background: #c0df71;
   color: #fff;
   border-radius:10px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 10px;
	margin-top: -10px;
	margin-left: 10px;
   z-index: 3;
   display: none;
	background-color: #ff934f;
}




.inputStyle{
	border: 1px solid #dedede;
  border-radius: 10px;
  /*color: #555;*/
  /*display: block;*/
  font: bold 18px/18px HelveticaNeue, Arial;
  padding: 5px 8px;
  width: 70%;
  margin-left:0px;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
}


.textNormal{
	font-size: 1em;
	font-family: "Verdana";	
}

.textMediano{
	font-size: 2em;
	font-family: "Verdana";	
}

#divAutoComplete{
	margin-left: 20%;
	margin-top: 2%;
	z-index: 3;
}

div#tipo a{
	font-size: 20px;
	margin-left: 10%;
}

.container{
	width:70%;
	margin:auto;
	overflow:auto;
}